<div class="container">
  <div class="left-side">
    <button>
      <mat-icon fontIcon="folder" class="material-icons-outlined"></mat-icon>
      <div class="btn-info">Menu</div>
    </button>
  </div>
  <div class="middle">
    <button>
      <mat-icon fontIcon="brush" class="material-icons-outlined"></mat-icon>
      <div class="btn-info">Brush</div>
    </button>
    <button>
      <mat-icon fontIcon="category" class="material-icons-outlined"></mat-icon>
      <div class="btn-info">2D Shapes</div>
    </button>
    <button routerLink="/three-d-shapes" routerLinkActive="active">
      <mat-icon
        fontIcon="view_in_ar"
        class="material-icons-outlined"
      ></mat-icon>
      <div class="btn-info">3D Shapes</div>
    </button>
    <button>
      <mat-icon
        fontIcon="sentiment_satisfied_alt"
        class="material-icons-outlined"
      ></mat-icon>
      <div class="btn-info">Stickers</div>
    </button>
    <button>
      <mat-icon fontIcon="wb_sunny" class="material-icons-outlined"></mat-icon>
      <div class="btn-info">Effects</div>
    </button>
  </div>
  <div class="right-side"></div>
</div>
