<div class="container">
  <div class="color-edit-wrapper">
    <h1>Edit Color</h1>
    <div class="input-wrapper">
      <input type="color" #colorInput />
      <button (click)="applyColor(colorInput)">Apply color</button>
    </div>
  </div>
  <div class="action-wrapper">
    <h1>Edit</h1>
    <div class="buttons">
      <button (click)="deleteObject()">delete</button>
      <button>cut</button>
      <button>copy</button>
    </div>
  </div>
  <!-- <div class="action-wrapper">
    <h1>Edit</h1>
    <div class="buttons">
      <button>delete</button>
      <button>cut</button>
      <button>copy</button>
    </div>
  </div> -->
</div>
